/* Cart.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
   
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  h1 {
    margin: 0;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 18px;
    text-align: right;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  