.about-container1 {
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  padding: 20px;
  background-color: #f7f7f7;
}

.about-content {
  max-width: 800px;
  background: #ffffff;
  padding: 40px; /* Increased padding for better spacing */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
  border-radius: 8px;
  margin: 20px; /* Added margin for spacing around the content */
}

.about-content h1 {
  color: #333;
  margin-bottom: 20px; /* Increased bottom margin */
  font-size: 2.5rem; /* Increased font size */
  text-align: left; /* Align text to the left */
}

.about-content h2 {
  color: #333;
  margin-bottom: 16px;
  font-size: 1.8rem; /* Adjusted font size */
  text-align: left; /* Align text to the left */
}

.about-content p {
  color: #555;
  line-height: 1.8; /* Increased line-height for better readability */
  margin-bottom: 20px; /* Increased bottom margin */
  font-size: 1.1rem; /* Slightly larger font size */
  text-align: left; /* Align text to the left */
}

.about-content ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px; /* Increased bottom margin */
  font-size: 1.1rem; /* Slightly larger font size */
}

.about-content li {
  color: #555;
  line-height: 1.8; /* Increased line-height for better readability */
  margin-bottom: 10px; /* Increased bottom margin */
}

@media (max-width: 768px) {
  .about-content {
    padding: 20px;
  }

  .about-content h1 {
    font-size: 2rem; /* Adjusted font size for smaller screens */
  }

  .about-content h2 {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .about-content p,
  .about-content li {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }
}
